html, body, main {
    margin: 0;
    padding: 0;
}

/* Panel */
#panel {
    width: 100vw;
    height: 40px;
    margin-bottom: 20px;

    background-color: lightgrey;
}

#panel ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#panel ul li {
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
}

#panel ul li:last-child {
    border-bottom: none;
}

#panel ul li:hover {
    background: darkgrey;
}

#panel ul li button {
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    text-align: left;
}

/* Overlays */
#clock-config-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock-config-overlay-content {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

#clock-config-overlay-close-button {
    float: right;
}

.clock-controls {
    display: grid;
    word-wrap: none;
    white-space: nowrap;
    grid-template-columns: min-content min-content auto;
    grid-template-rows: min-content min-content;
}

.clock-controls *:nth-child(odd) {
    margin-right: 10px;
}

/* Content */
#content {
    margin-left: 10%;
}


/* Clock container */
#clock-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Analog clock */
.clock#analog {
    min-width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7em;
}

.clock#analog .marker-small {
    stroke: #666;
    stroke-width: 0.5;
}

.clock#analog .marker-large {
    stroke: #333;
    stroke-width: 1;
}

.clock#analog .hand {
    stroke-linecap: round;
}

.clock#analog .hand#second {
    stroke: #E00;
    stroke-width: 1.1;
}

.clock#analog .hand#minute {
    stroke: #333;
    stroke-width: 1.1;
}

.clock#analog .hand#hour {
    stroke: #333;
    stroke-width: 1.5;
}

.clock#analog .clock-outside {
    stroke: #000;
    stroke-width: 2;
    fill: none;
}

/* Digital clock */
@font-face {
    font-family:'digital-clock-font';
    src: url('/fonts/clock.ttf');
}

.clock#digital .clock {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 5em;
    font-family: digital-clock-font;
    font-weight: bold;
}

/* Strip clock */
.clock#strip {
    min-width: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.2em;
}

/* Misc */

button.clock-alarm-active {
    background: green;
}

button.clock-alarm-inactive {
    background: red;
}

div#clock-alarm-triggered-popup {
    position: fixed;
    left: 20%;
    right: 20%;
    top: 40%;
    bottom: 40%;
    background-color: white;
    border-radius: 10px;
    border: solid 1px black;
    padding: 5px;
}

div#clock-alarm-triggered-popup h1 {
    text-align: center;
}

div.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
}